*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.firebaserc
.idea/inspectionProfiles/
firebase.json
firebase_personal_notes.txt
functions/